Ejercicio 4
Crea una serie de Pandas llamada frutas y que contenga los siguientes elementos:
["manzana", "banana", "cereza", "durazno", "frambuesa"].

In [1]:
import pandas as pd
from IPython.display import display

frutas=pd.Series(["manzana", "banana", "cereza", "durazno", "frambuesa"])

In [5]:
print("Serie de frutas original:")
display(frutas)

Serie de frutas original:

0      manzana
1       banana
2       cereza
3      durazno
4    frambuesa
dtype: object

1. Escribe un código que filtre y muestre solo aquellos elementos que contengan la letra "e" en su nombre. Almacena los elementos filtrados en una variable llamada frutas_con_e

In [6]:
con_e=frutas.str.contains("e")

In [7]:
frutas_con_e=frutas[con_e]

2. Utiliza una condición que aplique un método de strings para lograr este filtrado.

In [8]:
print("\n Frutas que contienen la letra 'e':")
display(frutas_con_e)

 Frutas que contienen la letra 'e':

2       cereza
4    frambuesa
dtype: object